/* 
    At least two different text colours;
    At least two different background colours (one applied to the entire webpage);
    At least two different font-weight, -style and -size;
    At least one font-family with four typefaces
    Three differently aligned paragraphs
    At least two different text-decorations
    At least one class selector and one id selector
    Change the bullet type on your unordered list to squares
    Change the numbers on your ordered list to roman numerials
    Use at least one div and one span.

    color palete
    charcoal 2E4057
    lighter charcoal 5E7087
    xanadu 708D81
    alice blue E8EEF2
    sandy brown F4A259
    brink pink ED6B86

*/

*{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
html{
    display: flex;
    justify-content: center;
}
table{
    border: 0pt transparent;
    background-color: #E8EEF2;
    width: 550PX;
}
body{background-color: #2E4057;}
h1{text-align: center;}
h3{text-align: center;}
p{text-align: left;}
ul{list-style-type: square;}
ol{list-style-type: upper-roman;}
#linklist{
    background-color: #5E7087;
}
a:link{
    color: #F4A259;
}
a:visited{
    color: #C47259;
}